@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-rows: 20% 20%;
    align-self: center;
    font-size: 14px;
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;    
}

li{
    display: grid;
    grid-template-columns: 50% 50%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 35px;
    width: 200px;
}

li:nth-child(1){
    background-color: hsl(0, 50%, 97%);
    color: hsl(0, 100%, 67%);
}

li:nth-child(2){
    background-color: hsl(42, 33%, 94%);
    color: hsl(39, 100%, 56%);
}

li:nth-child(3){
    background-color: hsla(165, 18%, 96%, 0.992);
    color: hsl(166, 100%, 37%);
}

li:nth-child(4){
    background-color: hsl(216, 33%, 94%);
    color: hsl(234, 85%, 45%);
}

.score-black{
    color: black;
    font-weight: bold;
    padding-left: 30px;
}

.score-gray{
    color: gray;
}

.score-black,.score-gray{
    justify-content:right;
    text-align: end;
    margin-right: 10px;
}

.container{
    width: 500px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    border-radius: 15px;
    box-shadow: 10px 20px 10px  rgb(249, 245, 245);
}

.div-left{
    border-radius: 15px;
    width: 250px;
    height: 320px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.7651261188068977) 0%, rgba(135,93,247,0.9892157546612395) 1%, rgba(44,60,175,0.9724090319721639) 100%);  
}

.score-circle{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.7651261188068977) 0%, rgba(121,46,207,0.9892157546612395) 1%, rgba(44,60,175,0.9724090319721639) 100%); 
}

.score-circle1{
    color: rgb(238, 227, 227);
    font-weight:bolder ;
    font-size: 40px;
}

.score-circle2{
    color: rgb(191, 189, 189);
    padding: 50px;
    margin: -30px;
}

h1{
    font-size: 22px;
    font-weight: 400;
    color: rgb(248, 239, 239);
}

.div-left h2{
    font-size:18px ;
    color: rgb(228, 225, 225);
}

.div-left p{
    font-size: 13px;
    color: rgba(205, 201, 201, 0.92);
}

.div-right{
    border-radius: 15px;
    width: 250px;
    height: 320px;
    margin-left: 1px;
}

.div-right h2{
    display: flex;
    margin-right: auto 15px;
    margin-left: 15px;
    font-size: 16px;
}

.div-right p{
    display: grid;
    margin-left: auto;
    margin-top: 2px;
}

img{
    width: 10%; 
    height: auto;
    margin: 10px;
}

.btn{
    background-color: hsl(228, 12%, 24%);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    width: 208px;
    height: 43px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    border: none;
    cursor: pointer;
}